.App {
  text-align: center;
}

.App-header {
  background-color: #0e59ed;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: white;
}