.maps-gearup {
    background-color: #48474a;
    padding: 20px;
    min-height: 100vh; /* Make the background extend to the bottom of the screen */
  }
  
  /* Style the title */
  .maps-gearup h1 {
    color: #000000; /* Change this to your desired text color */
  }
  
  /* Style the buttons */
  .maps-gearup button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .maps-gearup button:hover {
    background-color: #0056b3;
  }